@*Crash Details List Page
    - This is the Admin page for the data base list
    - From this page Admins have the following abilities
        - Add crashes
        - Delete crashes
        - Edit crashes
        - View crashes
    *@


@*<a href="/Account/Logout" class="btn btn-success">Logout</a>*@
    </div>
</div>

<div class="row m-1 p-1">
    <div id="county" class="col-2">
        <vc:county></vc:county>
    </div>


    <main class="col-10">
        <div class="row">
            <div class="text-center col-9">
                <h1 class="display-4">Utah Vehicle Crash Information</h1>
            </div>
            @*<div class="col-1">
                <a href="/Account/Logout" class="btn btn-success">Logout</a>
            </div>*@
        </div>

        <div class="container-fluid px-4">
            <div>
                <a href="/Home/CreateCrashForm" class="btn btn-success">+ Add Crash</a>
            </div>

            <br />

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date/Time</th>
                                <th>Route</th>
                                <th>Milepoint</th>
                                <th>Latitude, Longitude</th>
                                <th>Main Road</th>
                                <th>City</th>
                                <th>County</th>
                                <th>Crash Severity</th>
                                <th>Tags</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Crash c in Model.Crashes)
                            {
                                <tr>
                                    <td>@c.CRASH_ID</td>
                                    <td>@c.Crash_Date.ToShortDateString(), @c.Crash_Time</td>
                                    <td>@c.Route</td>
                                    <td>@c.Milepoint</td>
                                    <td>(@c.Lat_Utm_Y, @c.Long_Utm_X)</td>
                                    <td>@c.Main_Road_Name</td>
                                    <td>@c.City</td>
                                    <td>@c.County_Name</td>
                                    <td>@c.Crash_Severity_ID</td>

                                    <td>
                                        @if (@c.Work_Zone_Related is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Work Zone Related</span>
                                        }
                                        @if (@c.Pedestrian_Involved is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Pedestrian Involved</span>
                                        }
                                        @if (@c.Bicyclist_Involved is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Bicyclist Involved</span>
                                        }
                                        @if (@c.Motorcycle_Involved is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Motorcycle Involved</span>
                                        }
                                        @if (@c.Improper_Restraint is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Improper Restraint</span>
                                        }
                                        @if (@c.Unrestrained is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Unrestrained</span>
                                        }
                                        @if (@c.DUI is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">DUI</span>
                                        }
                                        @if (@c.Intersection_Related is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Intersection Related</span>
                                        }
                                        @if (@c.Wild_Animal_Related is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Wild Animal Related</span>
                                        }
                                        @if (@c.Domestic_Animal_Related is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Domestic Animal Related</span>
                                        }
                                        @if (@c.Overturn_Rollover is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Overturn Rollover</span>
                                        }
                                        @if (@c.Commercial_Motor_VEH_Involved is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Commercial Motor Vehicle Involved</span>
                                        }
                                        @if (@c.Teenage_Driver_Involved is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Teenage Driver Involved</span>
                                        }
                                        @if (@c.Older_Driver_Involved is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Older Driver Involved</span>
                                        }
                                        @if (@c.Night_Dark_Condition is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Night/Dark Conditions</span>
                                        }
                                        @if (@c.Single_Vehicle is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Single Vehicle</span>
                                        }
                                        @if (@c.Distracted_Driver is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Distracted Driving</span>
                                        }
                                        @if (@c.Drowsy_Driver is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Drowsy Driving</span>
                                        }
                                        @if (@c.Roadway_Departure is true)
                                        {
                                            <span class="badge rounded-pill bg-primary text-light">Roadway Departure</span>
                                        }


                                    </td>

                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/Home/UpdateCrashForm/@c.CRASH_ID">Edit</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="/Home/DeleteConfirmation/@c.CRASH_ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
